*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav{
	text-align: center;
}

.container{
	text-align: center;
	margin-top: 30px;
}

form{
	margin: auto;
	width: 30%;
	display: inline;
}

span{
	display: block;
}

ul{
	margin:auto;
}

p {
    /* font-size: 70px; */
}
