*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.h1, h1{
	font-size: 60px;
	text-shadow: 3px 4px #0392F7;
}

body{
	background-color: #303030 !important;
}



.main-panel{
	height: 100%;
	color: white;
}


.nav{
	text-align: center;
}

.container{
	text-align: center;
	margin-top: 30px;
	
}

form{
	margin: auto;
	width: 30%;
	display: inline;
}

span{
	display: block;
}

ul{
	margin:auto;
}

p {
    /* font-size: 70px; */
}

button{
	width: 80px;
	height: 30px;
	color: #303030 !important;
}

.ng-binding{
	color: #303030;
}

a.ng-binding{
	color: white;
}

input:focus, input:enabled{
	color: #303030;
}

li.a{
	color: #303030!important;
}

.ng-binding